@model IEnumerable<OrderModel>
@{
	ViewData["title"] = "Order Listed";
}
<h1>List Order</h1>

<table class="table" id="myTable">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Order Code</th>
			<th scope="col"> Username</th>
			<th scope="col">Order Date</th>
			<th scope="col">Order Status</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.Id</th>
				<th scope="row">@item.OrderCode</th>
				<td>@item.UserName</td>
				<td>@item.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</td>

				<td>
					@{
						string statusText = "";
						string statusClass = "";

						switch (item.Status)
						{
							case 1: // New order
								statusText = "New order";
								statusClass = "text-info";
								break;
							case 2: // Processing
								statusText = "Processing";
								statusClass = "text-warning";
								break;
							case 3: // Success
								statusText = "Success";
								statusClass = "text-success";
								break;
							case 0: // Reject
								statusText = "Rejected";
								statusClass = "text-danger";
								break;
							default:
								statusText = "Unknown";
								statusClass = "text-secondary";
								break;
						}
					}
					<span class="text @statusClass">@statusText</span>
				</td>
				<td>
					<a asp-action="ViewOrder" class="btn btn-warning btn-sm" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable();
		});
	</script>
}