@model IEnumerable<OrderDetails>
@{
	ViewData["title"] = "Order Details";
	decimal total = 0;
	decimal subtotal = 0;
}
<h1>List OrderDetails</h1>
@Html.AntiForgeryToken()
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Order Code</th>
			<th scope="col"> Username</th>
			<th scope="col">Order Date</th>
			<th scope="col">Order Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			subtotal = item.Quantity * item.Price;
			total += subtotal;
			<tr>
				<input type="hidden" asp-for="@item.OrderCode" class="getId" />
				<td>@item.Id</td>
				<td>@item.OrderCode</td>
				<td>@item.UserName</td> 
				<td>@item.Product.Name</td>
				<td>$@item.Price</td>
				<td>@item.Quantity</td>
				<td>@subtotal.ToString("C")</td>
			</tr>
				<tr>
					<th colspan="5">Total: </th>
					<td>@total.ToString("C")</td>
					<td><select class="form-control select-update-order">
						<option value="1">New order</option>
						<option value="0">Processed</option>
					</select>
					</td>
				</tr>
		}
	</tbody>
</table>
@section Scripts {
	<script>
		$(document).ready(function () {
			$('.select-update-order').change(function () {
				var status = $(this).val();
				var ordercode = $(this).closest("tr").prev().find(".getId").val();

				$.ajax({
					type: "POST",
					url: "@Url.Action("UpdateOrder", "Order", new { area = "Admin" })",
					data: {
						status: status,
						ordercode: ordercode,
						__RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
					},
					success: function (result) {
		                if (result.success) {
			               Swal.fire("Update successfully!").then(() => {
				           window.location.href = "/Admin/Order/Index";
			               });
		                }
					    else {
							Swal.fire("Update failed: " + result.message);
						}
					}
				});
			});
		});
	</script>
}


