@model IEnumerable<ProductModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_SliderPartial" />
<div class="col-sm-3">
	@* @Html.Partial("_SidebarPartial") *@
	<partial name="_SidebarPartial" />
</div>
<style>
	.product-image-wrapper {
		height: 450px;
		position: relative;
	}

	.productinfo button.add-to-cart {
		margin-bottom: 10px;
		width: 80%;
	}

	.choose {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		width: 100%;
		padding: 0 10px;
	}

		.choose .nav-pills {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			margin: 0;
		}

			.choose .nav-pills li {
				flex-grow: 1;
				margin: 0 5px;
			}

			.choose .nav-pills button {
				width: 100%;
				padding: 6px 0;
			}
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">

					<div class="single-products">

						<div class="productinfo text-center">
							<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">
								<img src="~/media/products/@item.Image" alt="@item.Description" width="100px" height="200px" />
								<h2>@item.Price.ToString("#, ##0 VNĐ")</h2>
								<p>@item.Name</p>
								<p>Category @item.Category.Name</p>
								<p>Brand @item.Brand.Name</p>
							</a>
							@* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
							<button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</button>
						</div>

					</div>

					<div class="choose">
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<ul class="nav nav-pills nav-justified">
								<li>
									<button class="btn btn-default add-btn-wishlist" data-product_id="@item.Id">
										<i class="fa fa-heart"></i> Add to wishlist
									</button>
								</li>
								<li>
									<button class="btn btn-default add-btn-compare" data-product_id="@item.Id">
										<i class="fa fa-retweet"></i> Add to compare
									</button>
								</li>
							</ul>
						}
					</div>
				</div>
			</div>
		}
	</div><!--features_items-->
</div>
@section Scripts {
	<script>
				$('.add-to-cart').click(function () {
			var Id = $(this).data("product_id");

			$.ajax({
				type: "POST",
				url: "@Url.Action("Add", "Cart")",
				data: { Id: Id },

				success: function (result) {
					if (result.success) {
						Swal.fire("Add to cart successfully!");
					}
				}
			});
		});
	</script>
	<!-- Add to Wishlist script-->
	<script>
				$('.add-btn-wishlist').click(function () {
			var Id = $(this).data("product_id");

			$.ajax({
				type: "POST",
				url: "@Url.Action("AddWishlist", "Home")", //(ten method, controller)
				data: { Id: Id },

				success: function (result) {
					if (result.success) {
						Swal.fire("Add to wishlist successfully!");
					}
				}
			});
		});
	</script>
	<!-- End to Wishlist script-->
	<!-- Add to Compare script-->
	<script>
				$('.add-btn-compare').click(function () {
			var Id = $(this).data("product_id");

			$.ajax({
				type: "POST",
				url: "@Url.Action("AddCompare", "Home")", //(ten method, controller)
				data: { Id: Id },

				success: function (result) {
					if (result.success) {
						Swal.fire("Add to Compare successfully!");
					}
				}
			});
		});
	</script>
	<!-- End to Compare script-->
}
