@model IEnumerable<OrderModel>
@{
	ViewData["title"] = "List History Orders placed by " + " " + @ViewBag.UserEmail;
}
<h1>List History Orders</h1>

<table class="table" id="myTable">
	<thead>
		<tr>
			<th>Id</th>
			<th>Order Code</th>
			<th>Username</th>
			<th>Order Date</th>
			<th>Order Status</th>
			<th>Shipping Cost</th>
			<th>Coupon</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.Id</th>
				<th>@item.OrderCode</th>
				<td>@item.UserName</td>
				<td>@item.CreateDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
				<td>
					@{
						string statusText = "";
						string statusClass = "";

						switch (item.Status)
						{
							case 1: // New order
								statusText = "New order";
								statusClass = "text-info";
								break;
							case 2: // Processing
								statusText = "Processing";
								statusClass = "text-warning";
								break;
							case 3: // Success
								statusText = "Success";
								statusClass = "text-success";
								break;
							case 0: // Reject
								statusText = "Cancel";
								statusClass = "text-danger";
								break;
							default:
								statusText = "Unknown";
								statusClass = "text-secondary";
								break;
						}
					}
					<span class="text @statusClass">@statusText</span>
				</td>
				<td>@item.ShippingCost.ToString("#,##0")VNĐ</td>
				@if (item.CouponCode == null)
				{
					<td>No coupon</td>
				}
				else {
					<td>@item.CouponCode</td>
				}

				<td>
					@if (item.Status != 0) {
						<a asp-action="CancelOrder" onclick="return confirm('Are you sure cancel?')" class="btn btn-danger btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Cancel Order</a>
					} 
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable();
		});
	</script>
}